img {
  max-width: 100%;
}

.navbar-paragraph {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .navbar-paragraph {
    font-size: 2rem;
  }
}
.new--arrival--paragraph {
  max-width: 600px;
}

.watch {
  width: 200px;
}
.showcase--cards--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .showcase--cards--container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .showcase--cards--container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


